.modal-overlay {
position: absolute;
top: 100px;
bottom: 0;
left: 650px;
right: 0;
width: 390px;
max-height: 700px;
scroll-behavior: auto;
padding: 8px;
height: min-content;
background-color: white;
border-radius: 3px;
font-size: medium;
justify-content: start;
z-index: 20;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.modal {
    position: relative;
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .parent {
    position: relative;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
  }


  /* Modal Overlay */
.modal-overlay-deals {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 20;
}

/* Modal Content */
.modal-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Modal Section */
.modal-section {
  flex: 1;
  min-width: 200px;
  margin-right: 20px;
}

/* Section Title */
.modal-section h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Section List */
.modal-section ul {
  list-style-type: none;
  padding: 0;
}

.modal-section li {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  cursor: pointer;
}

.modal-section li:hover {
  text-decoration: underline;
}

/* Section Deals */

.more-deals-modal{
  position: absolute;
  background-color: white;
  top: 12%;
  transform: translateX(20%);
  width: 250px;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);;
}

.more-deals-modal div{
  margin-bottom: 10px;
  padding-left: 10px;
  color: #333;
}

.more-deals-modal div:hover{
  text-decoration: underline;
  background-color: rgb(225, 225, 225);
  border-radius: 3px;
}

